.output-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  display: flex;
  /* background-color: #f2cfa6; */
  border-top: 2px solid #ddd;
  z-index: 100;
  overflow: hidden;
  cursor: default;
}

.output-content {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.output-content-div {
  width: 80%;
  margin: 0 auto; /* Center the div itself */
  height: 100%;
  box-sizing: border-box;
  border-left: 3px solid #810606;
  border-right: 3px solid #810606;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px; /* Padding to keep text away from borders */
}

.output-content-div div {
  border: 1px solid red;
  max-width: 100%;
  max-height: 100%;
  /* Prevent flex child from expanding beyond available space */
  flex-shrink: 0;
}

.output-content[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #888;
}

.overlay-active {
  box-shadow: 0 0 0 3px #ea4335;
}

@media (max-width: 767px) {
  .output-container {
    height: 120px;
  }
  
  .output-content {
    font-size: 28px !important;
    padding: 5px;
  }
} 