:root {
  --primary-color: #4285f4;
  --secondary-color: #34a853;
  --accent-color: #ea4335;
  --light-gray: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: #333;
  overflow: hidden;

}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-secondary {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.success {
  color: #34a853;
}

.error {
  color: #ea4335;
}

@font-face {
  font-family: 'Guj_Regular_Bold_Sulekh';
  src: url('https://cdn.jsdelivr.net/gh/Jenish-Gabani-Seva-Use/kirtan-kadi@main/01%20Guj%20Regular%20Bold%20Sulekh.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.overlay-active {
  box-shadow: 0 0 0 3px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

*:focus {
  outline: none;
}